# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: CV, Test APIs

on:
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *'

env:
  AZURE_CRED: ${{ secrets.AZURE_CREDENTIALS01 }}
  LOAD_TEST_RESOURCE: "spcm032-tests"
  LOAD_TEST_RESOURCE_GROUP: "spcm032-rg"
  TARGET_DOMAIN: "spcm032-springcloud-api-gateway.azuremicroservices.io"

jobs:

  loadTest:
    name: Load Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout GitHub Actions 
        uses: actions/checkout@v2

      - name: Login to Azure
        uses: azure/login@v1
        with:
          # client-id: ${{ secrets.AZURE_CLIENT_ID }}
          # tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          # subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          # # creds: ${{ env.AZURE_CRED }}   
          creds: ${{ env.AZURE_CREDENTIALS01 }}   
        continue-on-error: false

      - name: Azure Load Testing
        uses: azure/load-testing@v1
        with:
          loadTestConfigFile: 'tests/petclinic-test-apis-config.yml'
          loadTestResource: ${{ env.LOAD_TEST_RESOURCE }}
          resourceGroup: ${{ env.LOAD_TEST_RESOURCE_GROUP }}
          env: |
            [
                {
                "name": "TARGET_DOMAIN",
                "value": "${{ env.TARGET_DOMAIN }}"
                },
                {
                "name": "TARGET_PORT",
                "value": "443"
                },
                {
                "name": "TARGET_URL_PREFIX",
                "value": "https"
                },
                {
                "name": "LOOP_COUNT",
                "value": "5"
                },
                {
                "name": "VUSER_COUNT",
                "value": "10"
                },
                {
                "name": "RAMPUP_PERIOD",
                "value": "5"
                },
                {
                "name": "LIFETIME_DURATION",
                "value": "50"
                },
                {
                "name": "STARTUP_DELAY",
                "value": "3"
                }
            ]

      - uses: actions/upload-artifact@v2
        with:
          name: loadTestResults
          path: ${{ github.workspace }}/loadTest            